.wrapper {
  display: flex;
  height: 100vh;
}

.chat-side{
  width: 300px;
  background-color: #253141;

  .side-ber_user-name {   
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;

    .top-items{
      width: 260px;
      height: 20px;
      background-color: 253141;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 16px;
    }
    
    .top-items .top-items__name{
      color: #ffffff
    }
    
    .top-items .top-items__icon{
      display: flex;
       
    }
    
    .top-items__icon .logo-first{
      margin-right: 5px;
      line-height:20px;
      color:#ffffff;
    }
    
    .top-items__icon .logo-second{
      line-height: 20px;
      color:#ffffff;
    }
    
    link_to{
      text-decoration: none;
      color: #333333;
    }
  }
  .groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    
    .group{
      color: white;
      text-decoration: none;
      margin-bottom:  40px;
    

      .group__group-name {
        color: white;
        margin-bottom: 5px;
        font-size: 15px;
      }

      .group__latest-message{
        color: white;
        margin-bottom:  40px;
        font-size: 11px;
    
      }
    }
  } 
} 






